<a href="https://colab.research.google.com/github/Rahulraj31/DevHack-22-ML-domain/blob/main/DevHack'22_RahulRajPandey_Rahulraj31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DevHack'22 DevIncept

## Author @ Rahul Raj Pandey
## Github - Rahulraj31

Problem Data Set - https://archive.ics.uci.edu/ml/datasets/glass+identification

## About Data 

Attribute Information: (From the file [glass.name](https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.names))

1. Id number: 1 to 214
2. RI: refractive index
3. Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
4. Mg: Magnesium
5. Al: Aluminum
6. Si: Silicon
7. K: Potassium
8. Ca: Calcium
9. Ba: Barium
10. Fe: Iron
11. Type of glass: (class attribute)
  - 1 building_windows_float_processed
  - 2 building_windows_non_float_processed
  - 3 vehicle_windows_float_processed
  - 4 vehicle_windows_non_float_processed (none in this database)
  - 5 containers
  - 6 tableware
  - 7 headlamps

In [1]:
#Importing Libraries 
import numpy as np
import pandas as pd

In [2]:
# Reading Data
data = pd.read_csv('/content/drive/MyDrive/New folder/glass.data',header=None)
data.head()

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

In [3]:
data.shape

(214, 11)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       214 non-null    int64
 1   1       214 non-null    float64
 2   2       214 non-null    float64
 3   3       214 non-null    float64
 4   4       214 non-null    float64
 5   5       214 non-null    float64
 6   6       214 non-null    float64
 7   7       214 non-null    float64
 8   8       214 non-null    float64
 9   9       214 non-null    float64
 10  10      214 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

In [5]:
# Dividing data in dependent and independent variables
y = data.iloc[:,10]
x= data.drop(data.columns[10], axis=1)

In [6]:
x.shape , y.shape

((214, 10), (214,))

In [7]:
from sklearn.metrics import accuracy_score as asc

In [8]:
# Making Train and Test Data 
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25,stratify=y,random_state=0)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 10), (54, 10), (160,), (54,))

In [9]:
# Lists to store results of Multiple models
model_name = []
test_score = []
train_score= []

# Model Training

## 1. Decision Tree

In [10]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=0)
tree.fit(xtrain, ytrain)

# storing training data accuracy
train_score.append(tree.score(xtrain, ytrain))      
model_name.append('DecisionTree')

# storing test data accuracy
ypre = tree.predict(xtest)
test_score.append(asc(ytest, ypre))

## 2. Random forest

In [11]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=15,criterion="entropy",random_state=0)
rfc.fit(xtrain, ytrain)

# storing training data accuracy
train_score.append(rfc.score(xtrain, ytrain))
model_name.append('RandomForest')

# storing test data accuracy
ypre = rfc.predict(xtest)
test_score.append(asc(ytest, ypre))

## 3. SVM

In [12]:
from sklearn.svm import SVC 
svc  =SVC()
svc.fit(xtrain, ytrain)

# storing training data accuracy
train_score.append(svc.score(xtrain, ytrain))
model_name.append('SVC')

# storing test data accuracy
ypre = svc.predict(xtest)
test_score.append(asc(ytest, ypre))

## 4. Adaboost

In [13]:
from sklearn.ensemble import AdaBoostClassifier
adaboost = AdaBoostClassifier(base_estimator=rfc, n_estimators=400, learning_rate=1)
adaboost.fit(xtrain, ytrain)

# storing training data accuracy
train_score.append(adaboost.score(xtrain, ytrain))
model_name.append('AdaBoost')

# storing test data accuracy
ypre = adaboost.predict(xtest)
test_score.append(asc(ytest, ypre))

## 5. XGBoost

In [14]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(xtrain, ytrain)

train_score.append(xgb.score(xtrain, ytrain))
model_name.append('XGBoost')

ypre = xgb.predict(xtest)
test_score.append(asc(ytest, ypre))

# Compiling Resuts

In [15]:
result = pd.DataFrame()
result['model'] = pd.Series(model_name)
result['Train score'] = pd.Series(train_score)
result['Test score'] = pd.Series(test_score)

In [16]:
result

          model  Train score  Test score
0  DecisionTree      1.00000    0.944444
1  RandomForest      1.00000    0.944444
2           SVC      0.80625    0.814815
3      AdaBoost      1.00000    0.944444
4       XGBoost      1.00000    0.962963

## Conclusion
As we can see the performance of above models  Xgboost performs well on both train and test data